<a href="https://colab.research.google.com/github/Nio2002/-Nio2002-Python-Projects-MLOPS-DEVLOPS-AL-ML-/blob/Nio2002-week_1/Assignment_1(Nikhil_kumar).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
def lower_triangular(n):
    """
    #Prints a lower triangular pattern of '*' with n rows.
    #Each row i has i stars.
    """
    print("Lower Triangular Pattern:")
    for i in range(1, n + 1):
        print("* " * i)
    print()

In [7]:
def main():
    lines = 7  # Number of rows for the patterns
    lower_triangular(lines)


if __name__ == "__main__":
    main()

Lower Triangular Pattern:
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [ ]:
def upper_triangular(n):
    """
    Prints an upper triangular pattern of '*' with n rows.
    Starts with n stars decreasing to 1 star.
    """
    print("Upper Triangular Pattern:")
    for i in range(n, 0, -1):
        print("* " * i)
    print()

In [8]:
def main():
    lines = 7  # Number of rows for the patterns
    upper_triangular(lines)

if __name__ == "__main__":
    main()

Upper Triangular Pattern:
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
def pyramid(n):
    """
    Prints a centered pyramid pattern of '*' with n rows.
    Each row i has i stars centered by spaces.
    """
    print("Pyramid Pattern:")
    for i in range(1, n + 1):
        spaces = " " * (n - i)
        stars = "* " * i
        print(spaces + stars)
    print()

In [9]:
def main():
    lines = 7  # Number of rows for the patterns
    pyramid(lines)

if __name__ == "__main__":
    main()

Pyramid Pattern:
      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *