<a href="https://colab.research.google.com/github/Nio2002/-Nio2002-Python-Projects-MLOPS-DEVLOPS-AL-ML-/blob/Nio2002-week_1/Assignment_1(Nikhil_kumar).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
def lower_triangular(n):
    """
    #Prints a lower triangular pattern of '*' with n rows.
    #Each row a has a stars.
    """
    print("Lower Triangular Pattern:")
    for a in range(1, n + 1):
        print("* " * a)
    print()

In [12]:
def main():
    lines = 7  # Number of rows for the patterns
    lower_triangular(lines)


if __name__ == "__main__":
    main()

Lower Triangular Pattern:
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [13]:
def upper_triangular(n):
    """
    Prints an upper triangular pattern of '*' with n rows.
    Starts with n stars decreasing to 1 star.
    """
    print("Upper Triangular Pattern:")
    for a in range(n, 0, -1):
        print("* " * a)
    print()

In [14]:
def main():
    lines = 7  # Number of rows for the patterns
    upper_triangular(lines)

if __name__ == "__main__":
    main()

Upper Triangular Pattern:
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [19]:
def pyramid_pattern(n):
    """
    Prints a centered pyramid pattern of '*' with n rows.
    Each row a has a stars centered by spaces.
    """
    print("Pyramid_Pattern:")
    for a in range(1, n + 1):
        spaces = " " * (n - a)
        stars = "* " * a
        print(spaces + stars)
    print()

In [20]:
def main():
    lines = 7  # Number of rows for the patterns
    pyramid_pattern(lines)

if __name__ == "__main__":
    main()

Pyramid_Pattern:
      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *